amqp==2.1.1
billiard==3.5.0.2
celery==4.0.0
Django==1.8.16
djangorestframework==3.5.3
djangorestframework-jwt==1.9.0
kombu==4.0.0
Pillow==3.4.2
psycopg2==2.6.2
PyJWT==1.4.2
pylibmc==1.5.1
pytz==2016.7
qrcode==5.3
redis==2.10.5
six==1.10.0
vine==1.1.3
